* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}

div {
  display: block;
}

ul, li {
  list-style: none;
}



/* header */
.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  background-color: transparent;
  border-bottom: none;
  transition: background-color 1s ease 0s;
  z-index: 100;
}

.header.active {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(207, 217, 223);
}

.header-wrap {
  display: flex;
  margin: 0px auto;
  padding: 0px 60px;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  height: 100px;
  display: flex;
  align-items: center;
}

.menu {
  margin: 0px 30px;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.header .black {
  display: none;
}

.header.active .black {
  display: block;
}

.header .white {
  display: block;
}

.header.active .white {
  display: none;
}

.menu:first-child {
  margin-left: 0px;
}

.menu span {
  font-family: S-CoreDream-5;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.header.active .menu span {
  color: #000;
}

.login-btn {
  width: 121px;
  height: 40px;
  margin: 0 0 0 10px;
  padding: 11px 40px 11px 42px;
  border-radius: 5px;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  font-size: 15px;
  color: #fff;
  text-align: center;
}



/* section - main(canvas) */
.canvas-demo {
  position: absolute;
  top: 15%;
  right: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(51 51 51) 3px 3px 10px;
}

.fit {
  width: 16vw; 
  height: 16vw; 
  box-shadow: rgb(51, 51, 51) -10px 10px 20px;
}

.canvas-wrap {
  position: relative;
  display: flex;
  margin: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  justify-content: center;
  align-items: center;
}

.canvas.fit img {
  width: 100%;
  height: 100%;
}


/* section - main */
.main {
  position: relative;
  background-image: url(../img/bg_main.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 48vw;
  max-height: 69vw;
}

.main-wrap {
  padding: 0px 60px;
  height: 100%;
}

.text-wrap {
  color: #fff;
  padding: calc((56vw - 30%) - 120px) 0px;
  width: calc((84vw - 30%) - 120px);
}

.sub-title1 {
  font-family: S-CoreDream-5;
  font-size: 18px;
  margin-bottom: 15px;
}

.title {
  font-family: S-CoreDream-6;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: normal;
}

.sub-title2 {
  font-family: S-CoreDream-4;
  font-size: 16px;
  line-height: 1.67;
}



/* section - preview */
.preview {
  position:  relative;
  height: 643px;
  background-color: #000;
}

.preview-wrap {
  padding: 70px 30px 0px 60px;
}

.text-area {
  color: #fff;
}

.title-p {
  font-family: S-CoreDream-6;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}

.txt-p .cursor {
  font-family: S-CoreDream-5;
  font-size: 25px;
  margin-bottom: 15px;
}

.txt-p:first-child {
  text-decoration: underline;
  margin-bottom: 20px;
}

.display-info {
  display: flex;
  padding-top: 89px;
}

.display-desc {
  padding: 15px 33px;
}

.display-desc .desc-t {
  font-size: 20px;
  margin-bottom: 11px;
}

.display-desc .desc-st {
  font-size: 15px;
  line-height: 25px;
}

.display-desc span {
  display: block;
}

.video-area {
  left: 48%;
  top: -400px;
  position: relative;
  margin: 30px;
  height: 350px;
  width: 800px;
  max-width: calc(55vw - 150px);
  background-color: rgb(76, 51, 101);
}

.video {
  position: absolute;
  max-width: 50vw;
  top: 30px;
  right: 30px;
  min-height: 100%;
  max-height: 550px;
}

.preview-deco {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.page-shape {
  float: left;
  border-top: 60px solid rgb(186, 104, 200);
  border-left: 60px solid rgb(255, 255, 255);
}

.click {
  float: left;
  padding: 15px;
}



/* section - theme */
.theme {
  display: flex;
  margin-top: 60px;
  background-image: linear-gradient(rgb(247, 247, 249) 22.5vw, white 1px, white);
}

.theme-wrap {
  display: flex;
  padding: 0px 60px;
  margin-bottom: 60px;
  width: calc(100% - 120px);
  height: 100%;
}

.card-theme {
  width: 30vw;
  height: 30vw;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgb(207, 217, 223);
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.txt-area-t {
  margin: 100px;
}

.txt-area-t .m-info {
  font-size: 70px;
  font-weight: 600;
}

.txt-area-t .s-info {
  font-size: 20px;
  font-weight: 500;
}



/* section - arts(best) */
.arts {
  padding: 100px 0px;
  background: linear-gradient(#f7f7f9 55%, #fff 55%);
}

.art-wrap {
  padding: 0px 60px;
  width: calc(100% - 120px);
  height: 100%;
}

.txt-area-a {
  position: absolute;
}

.art-wrap h1 {
  font-family: S-CoreDream-6;
  font-weight: 600;
  font-size: 70px;
}

.art-wrap span {
  display: block;
  line-height: 1.67;
  font-family: S-CoreDream-5;
  font-size: 20px;
  color: #000000;
}

.art-wrap .s-txt {
  color: #9b9b9b;
}

.bests {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, calc((100vw - 345px) / 6));
  grid-template-areas:
    ". . . best1 best1 best2"
    "best3 best4 best5 best1 best1 best6";
  gap: 25px;
}

.best1 {
  grid-area: best1 / best1 / best1 / best1;
}

.card-art {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(207, 217, 223);
  border-radius: 5px;
}

.card-art img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best2 {
  grid-area: best2 / best2 / best2 / best2;
}

.best3 {
  grid-area: best3 / best3 / best3 / best3;
}

.best4 {
  grid-area: best4 / best4 / best4 / best4;
}

.best5 {
  grid-area: best5 / best5 / best5 / best5;
}

.best6 {
  grid-area: best6 / best6 / best6 / best6;
}



/* section - arts(sale) */
.arts.s {
  background: linear-gradient(#f7f7f9 25%, #fff 25%);
}

.txt-area-s {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.txt-area-s .m-txt {
  font-family: S-CoreDream-6;
  font-weight: 600;
  font-size: 70px;
}

.txt-area-s .s-txt { 
  margin-left: 100px;
  font-family: S-CoreDream-5;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.sales {
  padding: 0px 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.sale {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sale {
  width: calc((90vw - 110px) / 4); 
  height: calc((90vw - 110px) / 4);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgb(207, 217, 223);
  border-radius: 5px;
}

.sale-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  width: calc((90vw - 110px) / 4);
  margin-top: 10px;
}

.card-info .m-info {
  font-family: S-CoreDream-6;
  font-size: 20px;
  font-weight: bold;
}

.card-info .s-info {
  font-size: 20px;
  color: #9c27b0;
  line-height: 12px;
}

.card-info .p-info {
  font-size: 20px;
  color: #9b9b9b;
  margin-top: 5px;
}



/* section - arts(rising) */
.arts.r {
  background: linear-gradient(#f7f7f9 42%, #fff 42%);
}

.risings {
  padding: 0px 25px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
}

.rising {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-rising {
  width: calc((90vw - 110px) / 3); 
  height: calc((90vw - 110px) / 3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgb(207, 217, 223);
  border-radius: 5px;
}

.rising-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info.r {
  width: calc((92vw - 160px) / 3);
  height: 12%;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.card-info img {
  width: 15%;
  height: 100%;
  border-radius: 100%;
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.card-desc .m-info {
  font-size: 18px;
}

.card-desc .n-info {
  font-size: 20px;
  color: #9b9b9b;
  line-height: 16px;
  font-size: 16px;
}

/* section - artists */
.artists {
  padding: 50px 0px;
  background-color: rgb(247, 247, 249);
}

.artist-wrap {
  padding: 0px 60px;
  /* width: calc(100% - 60px); */
  height: 100%;
}

.txt-area-ar {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.txt-area-ar h1 {
  font-family: S-CoreDream-6;
  font-weight: 600;
  font-size: 70px;
  width: 100%;
}

.txt-area-ar .s-txt { 
  margin-left: 100px;
  font-family: S-CoreDream-5;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.artist-list {
  padding: 0 25px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card-artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: rgb(207, 217, 223);
  width: calc((73vw - 110px) / 4); 
  height: calc((73vw - 110px) / 4);
}
.circle {
  border-radius: 100%;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-name {
  margin: 20px 0px;
  font-family: S-CoreDream-6;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}




/* Text Animation - main */  
.sub-title1 {
  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: right;
}

.title {
  animation-fill-mode: both;
  animation-duration: 1260ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: right;
}

.sub-title2 {
  animation-fill-mode: both;
  animation-duration: 1587ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: right;
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  } 
}




/* Text Animation - best */  
.bubbles {
  display: inline-block;
  font-family: arial,'Luckiest Guy', cursive;
  z-index: 2;
}
  
.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #3498db;
  z-index: 1;
}



/* Text Animation - sale */  
.typing-demo {
  width: 20ch;
  animation: typing 2s steps(32), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}



/* Text Animation - rising */  
.arts.r h1 {
  color: #f78ed0;
}

.move {
  display: block;
	text-shadow: 0 0 80px rgba(255,255,255,.5);

  /* Clip Background Image */
	background: url(../img/background.jpg) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;

  /* Animate Background Image */
	-webkit-text-fill-color: transparent;
	animation: aitf 20s linear infinite;

  /* Activate hardware acceleration for smoother animations */
	transform: translate3d(0,0,0);
	backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes aitf {
	0% { 
    background-position: 0% 50%; 
  }
	100% { 
    background-position: 100% 50%; 
  }
} 



/* Text Animation - preview */  
.reveal {
  transform: translateY(100%);
  animation: reveal 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}

@keyframes reveal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
  


/* Text Animation - artworks */
.txt-area-t {
  display: block;
  position: relative;
  width: 55%;
}

.txt-area-t .wave {
  position: relative;
  color: #325673;
}

.wave:before {
  content: "OIL PAINTING ARTWORKS \A FOR YOU";
  position: absolute;
  color: #6CB7F4;
  white-space: pre-wrap;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(
      0 42%, 
      13% 48%, 
      26% 55%, 
      41% 64%, 
      56% 65%, 
      69% 58%, 
      84% 45%, 
      100% 38%, 
      100% 100%, 
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 63%, 
      14% 57%, 
      25% 50%, 
      40% 42%, 
      56% 40%, 
      71% 44%, 
      84% 50%, 
      100% 60%, 
      100% 100%, 
      0% 100%
    );
  }
}

.txt-area-t .s-info {
  margin-top: 40%;
}



/* Text Animation - recommend */
.shadow {
  position: relative;
  text-shadow: .04em .04em 0 rgb(153, 153, 153);
  z-index: 10;
}

.shadow:after {
  content: "Recommended artworks in \A September";
  position: absolute;
  white-space: pre-wrap;
  top: .08em; 
  left: .08em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(
      45deg,
      transparent 45%,
      rgb(0, 0, 0) 45%,
      rgb(0, 0, 0) 55%,
      transparent 0
      );
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 75s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }
  0% {
    background-position: 100% -100%
  }
}